.circularProgressContainer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circularProgressBar {
  transform: rotate(-90deg); /* Start from the top (12 o'clock) */
}

.circleBackground {
  fill: none;
  stroke: #E5E7EB;
}

.circleProgress {
  fill: none;
  stroke-linecap: round; /* Add rounded caps to make it look nicer */
  transition: stroke-dashoffset 1s ease-in-out;
}

.progressText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.progressValue {
  margin-right: 2px;
}

.progressSeparator {
  margin: 0 2px;
}

.progressTotal {
  margin-left: 2px;
}

@keyframes progress-animation {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: var(--final-offset, 0);
  }
}
