{# filepath: /Users/tere/DIPL/devtools-dash/backend/app/templates/level_n9/n9.html #}
{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set title = level_session.level.title %}
{% set secret = level_session.finish_secret %}

{% block head %}
  <script defer src="{{ url_path_for('get_level_js', level_key='n9') }}"></script>
{% endblock %}

{% block hint %}
  {# Add a hint for this level here - it will be shown when hovering over the '?' icon #}
  
{% endblock %}

{% block description %}
  {# Add your level description here - explain what the user needs to do #}
{% endblock %}

{% block content %}
  {# Your level content goes here #}
  <div class="level-container">
    <p>Complete this level to find the secret...</p>
  </div>
{% endblock %}
