{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
  <script defer src="{{ url_path_for('get_level_js', level_key='e3')}}"></script>
  <style>
    .story-piece {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
    }
    #finish {
      margin-top: 20px;
      padding: 10px;
      background-color: #e0ffe0;
      border: 1px solid #ccc;
    }
    </style>
{% endblock %}

{% block hint %}
  Use the aria-labelledby attribute to label the finish div with the aria-labeled story pieces in the correct order of a sentence.
{% endblock %}

{% block description %}
  Hey I don't see too well, could you please help me?
{% endblock %}

{% block content %}

  <div id="1" aria-label="A time" class="story-piece">story piece</div>
  <div id="2" aria-label="Once upon" class="story-piece">story piece</div>
  <div id="3" aria-label="Fox in a Box" class="story-piece">story piece</div>
  <div id="4" aria-label="There was a" class="story-piece">story piece</div>

  <div id="finish"> Make screen readers read me as a story using these pieces </div>
{% endblock %}
