{# filepath: /Users/tere/DIPL/devtools-dash/backend/app/templates/level_s4/s4.html #}
{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
  <script defer src="{{ url_path_for('get_level_js', level_key='s4') }}"></script>
  <script defer src="{{ url_path_for('get_level_js', level_key='s4') }}?different_filename=catcher&should_obfuscate=False"></script>
{% endblock %}

{% block hint %}
  Pause on all caught exceptions, first skip throught the decoy errors, then take the characters and put them together in the correct positions.
{% endblock %}

{% block description %}
  <p>I'm in the errors our developers caught</p>
{% endblock %}

{% block content %}
  <p> We through in a couple of decoys, so be patient and collect all the characters one by one </p>
{% endblock %}
