* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 80vh;
}

main {
  height: 100%;
  padding: 24px 36px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #EBF3FB;
  border-bottom: 1px solid #d3e0f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.submit-form {
  display: flex;
  width: 50%;
  gap: 12px;
  padding: 0 24px;
  margin: 0 auto;
}

.submit-form input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-form input[type="text"]:focus {
  border-color: #5B86D7;
  outline: none;
}


.submit-form input[type="submit"] {
  background-color: #5B86D7;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-form input[type="submit"]:hover {
  background-color: #6C9DF8;
}
.submit-form input[type="submit"]:active {
  background-color: #6C9DF8;
}






.box2 {
  display: none;
  margin: 30px;
}

.box1 {
  display: block;
  margin: 30px;
}

.box3 {
  display: none;
  margin: 30px;
}

.box1:hover  + .box2 {
  display: block;
}

.box2:hover + .box3 {
  display: block;
}
