.levels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}


.level {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #fe8d59;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 18px;
}
