{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
  <script defer src="{{ url_path_for('get_level_js', level_key='c3') }}?should_obfuscate=False"></script>
{% endblock %}

{% block content %}
<iframe src="{{ url_path_for('get_level_html', level_key='c3', filename='iframe') }}" id="iframe" width="100%" height="100%" sandbox="allow-same-origin allow-scripts allow-forms" style="border: none"></iframe>
</iframe>
{% endblock %}
