{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat({{level_utils['e4']['matrix_secret'](secret)[0] | length}}, 1fr);
  }
  .cell {
    width: 10px;
    height: 15px;
  }
  .cell.cell-blue {
    background-color: bule;
  }
</style>
{% endblock %}

{% block hint %}
  Fix the background color of the blue cells in the grid
{% endblock %}

{% block description%}
  <p>Some of these cells are different from the others. </p>
{% endblock %}

{% block content %}
  <div class="grid">
    {%for row in level_utils['e4']['matrix_secret'](secret) %}
      {% for cell in row %}
        <div class="cell{%if cell %} cell-blue{% endif %}">
        </div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}

