#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  --color-background: #EBF3FB;
  --color-background-hover: #d3e0f4;

  --color-text: black;
  --color-text-gray: #7C7C7C;
  --color-text-disabled: #B4B4B4;

  --color-blue: #5B86D7;
  --color-blue-hover: #6C9DF8;
  --color-blue-light: #B2C8F4;

  --color-green: #4CAF50;

  --color-white: white;

  --color-yellow: #FFCD29;
  --color-yellow-hover: #FFDA44;

  --color-orange: #FE8D59;
  --color-orange-hover: #FFA07A;
}

.small {
  font-size: 0.8rem;
}

.large {
  font-size: 1.2rem;
}
