{# filepath: /Users/tere/DIPL/devtools-dash/backend/app/templates/level_s5/s5.html #}
{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set title = level_session.level.title %}
{% set secret = level_session.finish_secret %}

{% block head %}
  <script defer src="{{ url_path_for('get_level_js', level_key='s5') }}?different_filename=secret_filler&should_obfuscate=False"></script>
  <script defer src="{{ url_path_for('get_level_js', level_key='s5') }}"></script>
  <script defer src="{{ url_path_for('get_level_js', level_key='s5') }}?should_obfuscate=False"></script>
{% endblock %}

{% block hint %}
    Add a conditional breakpoint to where the fullSecret is logged, the condition should be that potentialSecret is equal B2
{% endblock %}

{% block description %}
    <p>Pause when you need to, get the fullSecret </p>
{% endblock %}

{% block content %}
  Every possible secret is made with a potential secret recipe. Find only the one made with the right recipe.
{% endblock %}
