{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat({{level_utils['e4']['matrix_secret'](secret)[0] | length}}, 1fr);
  }
  .cell {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
  }
</style>
{% endblock %}

{% block hint%}
  Add a style rule to the elements with the cell-red class
{% endblock %}

{% block description %}
  <p>There's a pattern hidden in this grid, can you find it?</p>
{% endblock %}

{% block content %}
  <div class="grid">
    {%for row in level_utils['e4']['matrix_secret'](secret) %}
      {% for cell in row %}
        <div class="cell{%if cell %} cell-red{% endif %}">
        </div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}

