<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | DevTools Dash</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    {% block head%} {% endblock %}
  </head>
  <body>
    <main>
      <div class="level-header">
        <h1 class="level-title">
          <button onclick="window.close()" class="back-button" aria-label="Back to level list">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><polyline points="15 18 9 12 15 6"></polyline></svg>
          </button>
          <div class="level-badge">#{{ key }}</div>
          {{ title }}
        </h1>
        <div class="level-hint"
            tabindex="0"
            role="tooltip"
            aria-label="Hint"
            data-hint="{% block hint %}Think about what DevTools feature this level might be testing.{% endblock %}">?</div>
      </div>
      <div class="level-description">
        {% block description %}

        {% endblock %}
      </div>

      <div class="level-content">
        {% block content%} {% endblock %}
      </div>

      <form method="POST" class="submit-form">
        {% if submitted_secret %}
          <div class="error-message">Invalid secret: {{ submitted_secret }}</div>
        {% endif %}
        <input type="text" name="secret" placeholder="Enter secret key" autocomplete="off"/>
        <input type="submit" value=">" />
      </form>
    </main>

  </body>
</html>
