<html>
  <head>
    <title>{{ title }}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    {% block head%} {% endblock %}

  </head>
  <body>
    <div class="header">
      <h1>Level {{ title }}</h1>
    </div>

    <main>
      <h1>
      {% block title%} {% endblock %}
      </h1>
    {% block content%} {% endblock %}
    </main>

    <form method="POST" class="submit-form">
      {% if submitted_secret %}
        <span>Invalid secret: {{ submitted_secret }}</span>
      {% endif %}
      <input type="text" name="secret" placeholder="secret key" autocomplete="off"/>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
