.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-top: 100px;
  width: fit-content;
  margin: 100px auto;
}

.buttonWrapper {
  margin-top: 16px;
}

.buttonWrapper a {
  color: var(--color-blue);
  text-decoration: none;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 16px;
  font-size: 0.8rem;
}
