{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
  <style>
    h1 {
      font-size: 2.5em;
      text-align: center;
    }
    p {
      font-size: 1.2em;
      text-align: center;
    }
    p::after {
      content: "{{ level_session.finish_secret }}";
      color: #155724;
      font-weight: bold;
      display: none;
    }
  </style>

{% endblock %}

{% block hint %}
  Look for the ::after pseudo-element in the Styles tab
{% endblock %}

{% block description %}
  Certain things we can't see but they're still there
{% endblock %}

{% block content %}
  <p> Help! There's a secret after me! </p>
{% endblock %}

