{% extends "level.html" %}
{% set key = level_session.level_key %}
{% set secret = level_session.finish_secret %}
{% set title = level_session.level.title %}

{% block head %}
  <script src="{{ url_path_for('get_level_js', level_key='s3')}}?different_filename=other&should_obfuscate=False"></script>
  <script src="{{ url_path_for('get_level_js', level_key='s3')}}"></script>

{% endblock %}

{% block hint %}
  Look at the stack trace of the function where the debugger is paused. Follow the trace to get the letters of the secret.
{% endblock %}

{% block description %}
  Look through my traces
{% endblock %}

{% block content %}
{% endblock %}
